footer {
  padding: 15px;
  display: grid;
  grid-template-columns: 250px;
  color: #6d6d6d;
}

.ali {
  &-footer {
    display: flex;
    padding: 15px;
    width: 225px;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  footer {
    display: flex;
    justify-content: center;
  }
}
